@charset "utf-8";

// ======================================================================
//  variable
// ----------------------------------------------------------------------
//
//  sassで利用可能なvariable機能を使った記述はここで行います。
//
// ======================================================================

$site-width-s: 40rem;
$site-width-m: 48rem;
$site-width-l: 64rem;

$breakpoints: (
  s : "only screen and (min-width: #{$site-width-s})",
  m : "only screen and (min-width: #{$site-width-m})",
  l : "only screen and (min-width: #{$site-width-l})",
);
