@charset "utf-8";

// ======================================================================
//  utility
// ----------------------------------------------------------------------
//
//  clearfixや強制マージンなどの便利クラスを記述します。
//
//  utilityに含まれるクラスは、接頭辞に"uti-"を付与します。
//  (ex) .uti-btn, .uti-card, .uti-container
//
// ======================================================================

.uti-tal{ text-align: left   !important; }
.uti-tac{ text-align: center !important; }
.uti-tar{ text-align: right  !important; }

.uti-fl{ float: left  !important; }
.uti-fr{ float: right !important; }

.uti-fwn{ font-weight: normal !important; }
.uti-fwb{ font-weight: bold   !important; }

%clearfix{
  &:before,
  &:after{
    content: " ";
    display: table;
  }

  &:after{ clear: both; }

  &{ *zoom: 1; }
}

.uti-clearfix,
.uti-cf{
  @extend %clearfix;
}
