<% include master/_setting.ejs -%>
<%
// var description = '';
// title.push('');
-%>
<!doctype html>
<html lang="<%= lang %>">
<head>
<% include master/_head.ejs -%>
</head>
<body>
<% include master/_header.ejs -%>



<% include master/_footer.ejs -%>

<% include master/_foot.ejs -%>
</body>
</html>
